name: MSIX Package

on:
  push:
    branches: [ master, main ]
  pull_request:
    branches: [ master, main ]

env:
  DOTNET_VERSION: '8.0.x'
  CSPROJ_PATH: 'Xdows-Security/Xdows-Security.csproj'
  RID: 'win-x64'
  ARTIFACT_NAME: 'Xdows-Security-MSIX'

jobs:
  build:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-dotnet@v4
      with:
        dotnet-version: ${{ env.DOTNET_VERSION }}

    - run: >
        dotnet restore ${{ env.CSPROJ_PATH }} -r ${{ env.RID }} -p:PublishReadyToRun=false

    - run: >
        dotnet build ${{ env.CSPROJ_PATH }} -c Release -r ${{ env.RID }} --no-restore -p:PublishReadyToRun=false

    - run: >
        dotnet publish ${{ env.CSPROJ_PATH }}
        -c Release
        -r ${{ env.RID }}
        --self-contained true
        -p:PublishAppxPackage=true
        -p:AppxPackageSigningEnabled=false
        -p:PublishReadyToRun=false
        -p:PublishTrimmed=false
        -p:PublishProfile=

    # 直接打包 AppPackages 下真正的安装包目录
    - uses: actions/upload-artifact@v4
      with:
        name: ${{ env.ARTIFACT_NAME }}
        path: Xdows-Security/bin/Release/net8.0-windows10.0.19041.0/win-x64/AppPackages/*_Test